button {
    background-color: #2548ca;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin: 15px 0;
}

button:hover {
    background-color: #3f63e3;
}

#funFact {
    background-color: #fff4a3;
    padding: 12px;
    border-radius: 8px;
}
